button {
    
    height: 12vh;
    width: 12vh;
    gap: 1vw;
}
.calculator-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5vw;
    background-image: D099BC;
    
    
}
.button-item {
    /*display: grid;
    /*flex-direction: column;*/
    gap: 0.5vw;
    margin: 1px;
}
.button {
    gap: 1vw;
}
.result {
    height: 3vh;
    width: 70vw;
    border: 1px solid grey;
    padding: 15px 10px;
    text-align: center;
    margin-bottom: 5px;
    
}
p {
    overflow-x: auto;
    bottom: 15vh;
    
    
}

